# Lesson 0001 - First Steps with SQLite3
This is a tutorial on databases with Python. We will employ [Sqlite3](https://docs.python.org/3/library/sqlite3.html) and follow the book "Datenbanken - Konzepte und Sprachen" by Saake, Sattler and Heuer.<br>
We start with importing [Sqlite3](https://docs.python.org/3/library/sqlite3.html).

In [1]:
import sqlite3

print( sqlite3.version )

2.6.0

First, we [connect](https://docs.python.org/3/library/sqlite3.html) to a database file, which is in our case nonexistant. Therefore, a new database file is created.

In [2]:
conn = sqlite3.connect( "C:\\Users\\rhopi\\OneDrive\\Desktop\\python dev\\database dev\\lesson_0001\\database.file" )

Now that we have created a new database, we create a [cursor](https://docs.python.org/3/library/sqlite3.html), through which, we can operate on the database.

In [3]:
cursor = conn.cursor()

Following the book by Saake et al., we create a simple database for vines.<br>
We create a new table using [create table](https://docs.python.org/3/library/sqlite3.html).<br>
This new table will be called PRODUCER. This table has $3$ attributes: PRODUCER_NAME, VINE_REGION and GEOGRAPHIC_REGION. All attributes have the datatype varchar(20) which means, that these attributes will be character strings of varying length up to a length of 20 characters. We make PRODUCER_NAME the __primary key__. This means, that each row in the table will be identified by the PRODUCER_NAME which therefore has to be unique. By forcing PRODUCER_NAME to be __NOT NULL__, we make sure, that each PRODUCER has a name.<br>
We formulate this into a string which is [executed](https://docs.python.org/3/library/sqlite3.html).<br>
Then, we [commit](https://docs.python.org/3/library/sqlite3.html) the changes and [close](https://docs.python.org/3/library/sqlite3.html) the connection.

In [4]:
SQL_string = "CREATE TABLE PRODUCER ( PRODUCER_NAME VARCHAR(20) NOT NULL, VINE_REGION VARCHAR(20),\
GEOGRAPHIC_REGION VARCHAR(20), PRIMARY KEY( PRODUCER_NAME ) )"

cursor.execute( SQL_string )

conn.commit()

conn.close()

Now, we open the database again. This time, we create a new table, VINE. Its primary key will be VINE_ID, its datatype INTEGER. There will also be the attribute NAME, which we demand to be NOT NULL and VARCHAR(20). The attribute COLOUR will be VARCHAR(20). The attribute YEAR will be INTEGER. The attribute PRODUCER will be VARCHAR(20) and, as a __foreign key__ reference an entry of the table PRODUCER.

In [5]:
conn = sqlite3.connect( "C:\\Users\\rhopi\\OneDrive\\Desktop\\python dev\\database dev\\lesson_0001\\database.file" )

cursor = conn.cursor()

SQL_string = "CREATE TABLE VINE ( VINE_ID INTEGER NOT NULL, NAME VARCHAR(20) NOT NULL, COLOUR VARCHAR(20),\
YEAR INTEGER, PRODUCER VARCHAR(20), PRIMARY KEY( VINE_ID ),\
FOREIGN KEY( PRODUCER ) REFERENCES PRODUCER( PRODUCER_NAME ) )"

cursor.execute( SQL_string )

conn.commit()

conn.close()

Now, we fill in some data. Since VINE dependes on PRODUCER, we first have to fill in some data into PRODUCER.

In [6]:
conn = sqlite3.connect( "C:\\Users\\rhopi\\OneDrive\\Desktop\\python dev\\database dev\\lesson_0001\\database.file" )

cursor = conn.cursor()

SQL_string = "INSERT INTO PRODUCER VALUES ( \"Creek\", \"Barossa Valley\", \"Southern Australia\" )"

cursor.execute( SQL_string )

SQL_string = "INSERT INTO PRODUCER VALUES ( \"Helena\", \"Napa Valley\", \"California\" )"

cursor.execute( SQL_string )

SQL_string = "INSERT INTO PRODUCER VALUES ( \"Châteu La Rose\", \"Saint-Émilion\", \"Bourdeaux\" )"

cursor.execute( SQL_string )

SQL_string = "INSERT INTO PRODUCER VALUES ( \"Châteu La Pointe\", \"Pomerol\", \"Bourdeaux\" )"

cursor.execute( SQL_string )

SQL_string = "INSERT INTO PRODUCER VALUES ( \"Müller\", \"Rheingau\", \"Hessen\" )"

cursor.execute( SQL_string )

SQL_string = "INSERT INTO PRODUCER VALUES ( \"Bighorn\", \"Napa Valley\", \"California\" )"

cursor.execute( SQL_string )

conn.commit()

conn.close()

To test, whether the data really are in the database, we query the data.

In [7]:
conn = sqlite3.connect( "C:\\Users\\rhopi\\OneDrive\\Desktop\\python dev\\database dev\\lesson_0001\\database.file" )

cursor = conn.cursor()

SQL_string = "SELECT * FROM PRODUCER"

rows = cursor.execute( SQL_string ).fetchall()

conn.close()




for row in rows:
    
    print( row )

('Creek', 'Barossa Valley', 'Southern Australia')
('Helena', 'Napa Valley', 'California')
('Châteu La Rose', 'Saint-Émilion', 'Bourdeaux')
('Châteu La Pointe', 'Pomerol', 'Bourdeaux')
('Müller', 'Rheingau', 'Hessen')
('Bighorn', 'Napa Valley', 'California')

Maybe, we are just interested in the unique GEOGRAPHIC_REGIONs. For this, we employ the selector DISTINCT.

In [8]:
conn = sqlite3.connect( "C:\\Users\\rhopi\\OneDrive\\Desktop\\python dev\\database dev\\lesson_0001\\database.file" )

cursor = conn.cursor()

SQL_string = "SELECT DISTINCT GEOGRAPHIC_REGION FROM PRODUCER"

rows = cursor.execute( SQL_string ).fetchall()

conn.close()




for row in rows:
    
    print( row )

('Southern Australia',)
('California',)
('Bourdeaux',)
('Hessen',)

Maybe, we are just interested in the unique GEOGRAPHIC_REGIONs, and we want the answer to be ordered. For this, we employ the selector ORDER BY.

In [9]:
conn = sqlite3.connect( "C:\\Users\\rhopi\\OneDrive\\Desktop\\python dev\\database dev\\lesson_0001\\database.file" )

cursor = conn.cursor()

SQL_string = "SELECT DISTINCT GEOGRAPHIC_REGION FROM PRODUCER ORDER BY GEOGRAPHIC_REGION"

rows = cursor.execute( SQL_string ).fetchall()

conn.close()




for row in rows:
    
    print( row )

('Bourdeaux',)
('California',)
('Hessen',)
('Southern Australia',)

Now, we insert values into VINE.

In [10]:
conn = sqlite3.connect( "C:\\Users\\rhopi\\OneDrive\\Desktop\\python dev\\database dev\\lesson_0001\\database.file" )

cursor = conn.cursor()

SQL_string = "INSERT INTO VINE VALUES ( 1000, \"La Rose\", \"Red\", 2013, \"Château La Rose\" )"

cursor.execute( SQL_string )

SQL_string = "INSERT INTO VINE VALUES ( 1001, \"Creek Shiraz\", \"Red\", 2018, \"Creek\" )"

cursor.execute( SQL_string )

SQL_string = "INSERT INTO VINE VALUES ( 1002, \"Zinfandel\", \"Red\", 2015, \"Helena\" )"

cursor.execute( SQL_string )

SQL_string = "INSERT INTO VINE VALUES ( 1003, \"Pinot Noir\", \"Red\", 2014, \"Creek\" )"

cursor.execute( SQL_string )

SQL_string = "INSERT INTO VINE VALUES ( 1004, \"Pinot Noir\", \"Red\", 2013, \"Helena\" )"

cursor.execute( SQL_string )

SQL_string = "INSERT INTO VINE VALUES ( 1005, \"Riesling Reserve\", \"White\", 2017, \"Müller\" )"

cursor.execute( SQL_string )

SQL_string = "INSERT INTO VINE VALUES ( 1006, \"Chardonney\", \"White\", 2016, \"Bighorn\" )"

cursor.execute( SQL_string )

conn.commit()

conn.close()

Now, we select all NAMES from VINE where the GEOGRAPHIC_REGION of the PRODUCER is California.

In [11]:
conn = sqlite3.connect( "C:\\Users\\rhopi\\OneDrive\\Desktop\\python dev\\database dev\\lesson_0001\\database.file" )

cursor = conn.cursor()

SQL_string = "SELECT VINE.NAME FROM VINE, PRODUCER WHERE VINE.PRODUCER = PRODUCER.PRODUCER_NAME AND \
PRODUCER.GEOGRAPHIC_REGION = \"California\""

rows = cursor.execute( SQL_string ).fetchall()

conn.close()




for row in rows:
    
    print( row )

('Zinfandel',)
('Pinot Noir',)
('Chardonney',)

Now suppose, that we erroneously stated, that the vine "La Rose" was produced by "Château La Rose", whereas it really is producd by "Helena". We can change this.

In [12]:
conn = sqlite3.connect( "C:\\Users\\rhopi\\OneDrive\\Desktop\\python dev\\database dev\\lesson_0001\\database.file" )

cursor = conn.cursor()

SQL_string = "UPDATE VINE SET PRODUCER = \"Helena\" WHERE VINE.NAME = \"La Rose\""

cursor.execute( SQL_string )

conn.commit()





SQL_string = "SELECT * FROM VINE"

rows = cursor.execute( SQL_string ).fetchall()

conn.close()




for row in rows:
    
    print( row )

(1000, 'La Rose', 'Red', 2013, 'Helena')
(1001, 'Creek Shiraz', 'Red', 2018, 'Creek')
(1002, 'Zinfandel', 'Red', 2015, 'Helena')
(1003, 'Pinot Noir', 'Red', 2014, 'Creek')
(1004, 'Pinot Noir', 'Red', 2013, 'Helena')
(1005, 'Riesling Reserve', 'White', 2017, 'Müller')
(1006, 'Chardonney', 'White', 2016, 'Bighorn')

Since we changed the PRODUCER of "La Rose" to a PRODUCER in California, the result of the question for the names of vines that are produced in California should change as well.

In [13]:
conn = sqlite3.connect( "C:\\Users\\rhopi\\OneDrive\\Desktop\\python dev\\database dev\\lesson_0001\\database.file" )

cursor = conn.cursor()

SQL_string = "SELECT VINE.NAME FROM VINE, PRODUCER WHERE VINE.PRODUCER = PRODUCER.PRODUCER_NAME AND \
PRODUCER.GEOGRAPHIC_REGION = \"California\""

rows = cursor.execute( SQL_string ).fetchall()

conn.close()




for row in rows:
    
    print( row )

('La Rose',)
('Zinfandel',)
('Pinot Noir',)
('Chardonney',)

Now suppose, we want to delete all vines from 2013.

In [14]:
conn = sqlite3.connect( "C:\\Users\\rhopi\\OneDrive\\Desktop\\python dev\\database dev\\lesson_0001\\database.file" )

cursor = conn.cursor()

SQL_string = "DELETE FROM VINE WHERE YEAR = 2013"

cursor.execute( SQL_string )

conn.commit()





SQL_string = "SELECT * FROM VINE"

rows = cursor.execute( SQL_string ).fetchall()

conn.close()




for row in rows:
    
    print( row )

(1001, 'Creek Shiraz', 'Red', 2018, 'Creek')
(1002, 'Zinfandel', 'Red', 2015, 'Helena')
(1003, 'Pinot Noir', 'Red', 2014, 'Creek')
(1005, 'Riesling Reserve', 'White', 2017, 'Müller')
(1006, 'Chardonney', 'White', 2016, 'Bighorn')

Now suppose, that you have customers that repeatedly ask for red vines from California. For this, we create a view, which is a new table that is created by a query of the database whenever it is called.

In [15]:
conn = sqlite3.connect( "C:\\Users\\rhopi\\OneDrive\\Desktop\\python dev\\database dev\\lesson_0001\\database.file" )

cursor = conn.cursor()

SQL_string = "CREATE VIEW CALIFORNIA_RED AS SELECT VINE.VINE_ID, VINE.NAME, VINE.YEAR,\
VINE.PRODUCER FROM VINE, PRODUCER WHERE VINE.PRODUCER = PRODUCER.PRODUCER_NAME AND \
PRODUCER.GEOGRAPHIC_REGION = \"California\" AND VINE.COLOUR = \"Red\""

cursor.execute( SQL_string )

conn.commit()





SQL_string = "SELECT * FROM CALIFORNIA_RED"

rows = cursor.execute( SQL_string ).fetchall()

conn.close()




for row in rows:
    
    print( row )

(1002, 'Zinfandel', 2015, 'Helena')

Now suppose, that we made an error when we entered the Chardonneay from Bighorn. Let's change it to red.

In [16]:
conn = sqlite3.connect( "C:\\Users\\rhopi\\OneDrive\\Desktop\\python dev\\database dev\\lesson_0001\\database.file" )

cursor = conn.cursor()

SQL_string = "UPDATE VINE SET COLOUR = \"Red\" WHERE VINE.NAME = \"Chardonney\""

cursor.execute( SQL_string )

conn.commit()




SQL_string = "SELECT * FROM CALIFORNIA_RED"

rows = cursor.execute( SQL_string ).fetchall()

conn.close()




for row in rows:
    
    print( row )

(1002, 'Zinfandel', 2015, 'Helena')
(1006, 'Chardonney', 2016, 'Bighorn')

Ok, this was the first steps with SQLite3.<br>
Class dismissed.