# Lesson 0002 - Further steps with SQLite3
In this lesson, we delve further into SQLite3.<br>
We begin with stealing code from [Lesson 0001](https://github.com/Mathhead/Lessons_in_SQLite3/blob/master/lesson_0001_first_steps_in_sqlite3.ipynb).

In [1]:
import sqlite3

print( sqlite3.version )

In [2]:
conn = sqlite3.connect( "C:\\Users\\rhopi\\OneDrive\\Desktop\\python dev\\database dev\\lesson_0002\\database.file" )

In [3]:
cursor = conn.cursor()

In [4]:
SQL_string = "CREATE TABLE PRODUCER ( PRODUCER_NAME VARCHAR(20) NOT NULL, VINE_REGION VARCHAR(20),\
GEOGRAPHIC_REGION VARCHAR(20), PRIMARY KEY( PRODUCER_NAME ) )"

cursor.execute( SQL_string )

conn.commit()

conn.close()

In [5]:
conn = sqlite3.connect( "C:\\Users\\rhopi\\OneDrive\\Desktop\\python dev\\database dev\\lesson_0002\\database.file" )

cursor = conn.cursor()

SQL_string = "CREATE TABLE VINE ( VINE_ID INTEGER NOT NULL, NAME VARCHAR(20) NOT NULL, COLOUR VARCHAR(20),\
YEAR INTEGER, PRODUCER VARCHAR(20), PRIMARY KEY( VINE_ID ),\
FOREIGN KEY( PRODUCER ) REFERENCES PRODUCER( PRODUCER_NAME ) )"

cursor.execute( SQL_string )

conn.commit()

conn.close()

In [6]:
conn = sqlite3.connect( "C:\\Users\\rhopi\\OneDrive\\Desktop\\python dev\\database dev\\lesson_0002\\database.file" )

cursor = conn.cursor()

SQL_string = "INSERT INTO PRODUCER VALUES ( \"Creek\", \"Barossa Valley\", \"Southern Australia\" )"

cursor.execute( SQL_string )

SQL_string = "INSERT INTO PRODUCER VALUES ( \"Helena\", \"Napa Valley\", \"California\" )"

cursor.execute( SQL_string )

SQL_string = "INSERT INTO PRODUCER VALUES ( \"Château La Rose\", \"Saint-Émilion\", \"Bourdeaux\" )"

cursor.execute( SQL_string )

SQL_string = "INSERT INTO PRODUCER VALUES ( \"Château La Pointe\", \"Pomerol\", \"Bourdeaux\" )"

cursor.execute( SQL_string )

SQL_string = "INSERT INTO PRODUCER VALUES ( \"Müller\", \"Rheingau\", \"Hessen\" )"

cursor.execute( SQL_string )

SQL_string = "INSERT INTO PRODUCER VALUES ( \"Bighorn\", \"Napa Valley\", \"California\" )"

cursor.execute( SQL_string )

conn.commit()

conn.close()

In [7]:
conn = sqlite3.connect( "C:\\Users\\rhopi\\OneDrive\\Desktop\\python dev\\database dev\\lesson_0002\\database.file" )

cursor = conn.cursor()

SQL_string = "INSERT INTO VINE VALUES ( 1000, \"La Rose\", \"Red\", 2013, \"Château La Rose\" )"

cursor.execute( SQL_string )

SQL_string = "INSERT INTO VINE VALUES ( 1001, \"Creek Shiraz\", \"Red\", 2018, \"Creek\" )"

cursor.execute( SQL_string )

SQL_string = "INSERT INTO VINE VALUES ( 1002, \"Zinfandel\", \"Red\", 2015, \"Helena\" )"

cursor.execute( SQL_string )

SQL_string = "INSERT INTO VINE VALUES ( 1003, \"Pinot Noir\", \"Red\", 2014, \"Creek\" )"

cursor.execute( SQL_string )

SQL_string = "INSERT INTO VINE VALUES ( 1004, \"Pinot Noir\", \"Red\", 2013, \"Helena\" )"

cursor.execute( SQL_string )

SQL_string = "INSERT INTO VINE VALUES ( 1005, \"Riesling Reserve\", \"White\", 2017, \"Müller\" )"

cursor.execute( SQL_string )

SQL_string = "INSERT INTO VINE VALUES ( 1006, \"Chardonney\", \"White\", 2016, \"Bighorn\" )"

cursor.execute( SQL_string )

conn.commit()

conn.close()

Now suppose, we are unhappy with the design of the database. One way to change the database is to delete a table altogether. The prompt for this is "DROP TABLE".

In [8]:
conn = sqlite3.connect( "C:\\Users\\rhopi\\OneDrive\\Desktop\\python dev\\database dev\\lesson_0002\\database.file" )

cursor = conn.cursor()

SQL_string = "DROP TABLE VINE"

cursor.execute( SQL_string )

conn.commit()

conn.close()

Now, we query the data from "VINE". If everything worked, there will be no results.

In [9]:
conn = sqlite3.connect( "C:\\Users\\rhopi\\OneDrive\\Desktop\\python dev\\database dev\\lesson_0002\\database.file" )

cursor = conn.cursor()

SQL_string = "SELECT * FROM VINE"

rows = cursor.execute( SQL_string ).fetchall()

conn.close()



for row in rows:
    
    print( row )

OperationalError: no such table: VINE

Ok,"VINE" is deleted. Since the connection __conn__ was not closed, we can use the open connection to recreate "VINE".

In [10]:
SQL_string = "CREATE TABLE VINE ( VINE_ID INTEGER NOT NULL, NAME VARCHAR(20) NOT NULL, COLOUR VARCHAR(20),\
YEAR INTEGER, PRODUCER VARCHAR(20), PRIMARY KEY( VINE_ID ),\
FOREIGN KEY( PRODUCER ) REFERENCES PRODUCER( PRODUCER_NAME ) )"

cursor.execute( SQL_string )

conn.commit()

SQL_string = "INSERT INTO VINE VALUES ( 1000, \"La Rose\", \"Red\", 2013, \"Château La Rose\" )"

cursor.execute( SQL_string )

SQL_string = "INSERT INTO VINE VALUES ( 1001, \"Creek Shiraz\", \"Red\", 2018, \"Creek\" )"

cursor.execute( SQL_string )

SQL_string = "INSERT INTO VINE VALUES ( 1002, \"Zinfandel\", \"Red\", 2015, \"Helena\" )"

cursor.execute( SQL_string )

SQL_string = "INSERT INTO VINE VALUES ( 1003, \"Pinot Noir\", \"Red\", 2014, \"Creek\" )"

cursor.execute( SQL_string )

SQL_string = "INSERT INTO VINE VALUES ( 1004, \"Pinot Noir\", \"Red\", 2013, \"Helena\" )"

cursor.execute( SQL_string )

SQL_string = "INSERT INTO VINE VALUES ( 1005, \"Riesling Reserve\", \"White\", 2017, \"Müller\" )"

cursor.execute( SQL_string )

SQL_string = "INSERT INTO VINE VALUES ( 1006, \"Chardonney\", \"White\", 2016, \"Bighorn\" )"

cursor.execute( SQL_string )

conn.commit()

conn.close()

Now suppose, that we want to add the column "PRICE" to "VINE". we can do this by using "ALTER TABLE" tablename "ADD COLUMN". We set the datatype to be "REAL" and choose a DEFAULT value of $1.0$.

In [11]:
conn = sqlite3.connect( "C:\\Users\\rhopi\\OneDrive\\Desktop\\python dev\\database dev\\lesson_0002\\database.file" )

cursor = conn.cursor()

SQL_string = "ALTER TABLE VINE ADD COLUMN PRICE REAL DEFAULT 1.0"

cursor.execute( SQL_string )

conn.commit()

SQL_string = "SELECT * FROM VINE"

rows = cursor.execute( SQL_string ).fetchall()

conn.close()



for row in rows:
    
    print( row )

(1000, 'La Rose', 'Red', 2013, 'Château La Rose', 1.0)
(1001, 'Creek Shiraz', 'Red', 2018, 'Creek', 1.0)
(1002, 'Zinfandel', 'Red', 2015, 'Helena', 1.0)
(1003, 'Pinot Noir', 'Red', 2014, 'Creek', 1.0)
(1004, 'Pinot Noir', 'Red', 2013, 'Helena', 1.0)
(1005, 'Riesling Reserve', 'White', 2017, 'Müller', 1.0)
(1006, 'Chardonney', 'White', 2016, 'Bighorn', 1.0)

Considering the queries, one can combine several queries. The first example shall be "UNION", where the results of several queries are united.

In [12]:
conn = sqlite3.connect( "C:\\Users\\rhopi\\OneDrive\\Desktop\\python dev\\database dev\\lesson_0002\\database.file" )

cursor = conn.cursor()

SQL_string = "SELECT DISTINCT PRODUCER FROM VINE"

rows = cursor.execute( SQL_string ).fetchall()

conn.close()



for row in rows:
    
    print( row )

('Château La Rose',)
('Creek',)
('Helena',)
('Müller',)
('Bighorn',)

In [13]:
conn = sqlite3.connect( "C:\\Users\\rhopi\\OneDrive\\Desktop\\python dev\\database dev\\lesson_0002\\database.file" )

cursor = conn.cursor()

SQL_string = "SELECT DISTINCT PRODUCER_NAME FROM PRODUCER"

rows = cursor.execute( SQL_string ).fetchall()

conn.close()



for row in rows:
    
    print( row )

('Bighorn',)
('Château La Pointe',)
('Château La Rose',)
('Creek',)
('Helena',)
('Müller',)

In [14]:
conn = sqlite3.connect( "C:\\Users\\rhopi\\OneDrive\\Desktop\\python dev\\database dev\\lesson_0002\\database.file" )

cursor = conn.cursor()

SQL_string = "SELECT DISTINCT * FROM ( SELECT DISTINCT PRODUCER FROM VINE UNION SELECT DISTINCT PRODUCER_NAME \
FROM PRODUCER )"
 
rows = cursor.execute( SQL_string ).fetchall()

conn.close()



for row in rows:
    
    print( row )

('Bighorn',)
('Château La Pointe',)
('Château La Rose',)
('Creek',)
('Helena',)
('Müller',)

Using the keyword "EXCEPT", we can deselect.

In [15]:
conn = sqlite3.connect( "C:\\Users\\rhopi\\OneDrive\\Desktop\\python dev\\database dev\\lesson_0002\\database.file" )

cursor = conn.cursor()

SQL_string = "SELECT DISTINCT * FROM ( SELECT DISTINCT PRODUCER_NAME FROM PRODUCER EXCEPT SELECT PRODUCER FROM VINE )"
 
rows = cursor.execute( SQL_string ).fetchall()

conn.close()



for row in rows:
    
    print( row )

('Château La Pointe',)

We can also define implicit functions. For example, we can automatically compute the age of a vine with __current_date__.

In [16]:
conn = sqlite3.connect( "C:\\Users\\rhopi\\OneDrive\\Desktop\\python dev\\database dev\\lesson_0002\\database.file" )

cursor = conn.cursor()

SQL_string = "SELECT NAME, (CURRENT_DATE - YEAR), PRODUCER FROM VINE"
 
rows = cursor.execute( SQL_string ).fetchall()

conn.close()



for row in rows:
    
    print( row )

('La Rose', 6, 'Château La Rose')
('Creek Shiraz', 1, 'Creek')
('Zinfandel', 4, 'Helena')
('Pinot Noir', 5, 'Creek')
('Pinot Noir', 6, 'Helena')
('Riesling Reserve', 2, 'Müller')
('Chardonney', 3, 'Bighorn')

Maybe, you want to know, how many red vines there are. Use "COUNT".

In [17]:
conn = sqlite3.connect( "C:\\Users\\rhopi\\OneDrive\\Desktop\\python dev\\database dev\\lesson_0002\\database.file" )

cursor = conn.cursor()

SQL_string = "SELECT COUNT(*) FROM VINE WHERE COLOUR = \"Red\""
 
rows = cursor.execute( SQL_string ).fetchall()

conn.close()



for row in rows:
    
    print( row )

(5,)

Or, you might want to know, how old the average red vine is. Use "AVG".

In [18]:
conn = sqlite3.connect( "C:\\Users\\rhopi\\OneDrive\\Desktop\\python dev\\database dev\\lesson_0002\\database.file" )

cursor = conn.cursor()

SQL_string = "SELECT AVG(CURRENT_DATE - YEAR) FROM VINE WHERE COLOUR = \"Red\""
 
rows = cursor.execute( SQL_string ).fetchall()

conn.close()



for row in rows:
    
    print( row )

(4.4,)

Or, you might want to know, how old the oldest red vine is. Use "MAX".

In [19]:
conn = sqlite3.connect( "C:\\Users\\rhopi\\OneDrive\\Desktop\\python dev\\database dev\\lesson_0002\\database.file" )

cursor = conn.cursor()

SQL_string = "SELECT MAX(CURRENT_DATE - YEAR) FROM VINE WHERE COLOUR = \"Red\""
 
rows = cursor.execute( SQL_string ).fetchall()

conn.close()



for row in rows:
    
    print( row )

(6,)

Or, you might want to know, how many red and white vines there are. Use "GROUP BY".

In [20]:
conn = sqlite3.connect( "C:\\Users\\rhopi\\OneDrive\\Desktop\\python dev\\database dev\\lesson_0002\\database.file" )

cursor = conn.cursor()

SQL_string = "SELECT COLOUR, COUNT(*) FROM VINE GROUP BY COLOUR"
 
rows = cursor.execute( SQL_string ).fetchall()

conn.close()



for row in rows:
    
    print( row )

('Red', 5)
('White', 2)

Maybe, you want to list all vines, that come from a region, from which several vines come.

In [21]:
conn = sqlite3.connect( "C:\\Users\\rhopi\\OneDrive\\Desktop\\python dev\\database dev\\lesson_0002\\database.file" )

cursor = conn.cursor()

SQL_string = "SELECT VINE_ID, NAME, YEAR, PRODUCER.GEOGRAPHIC_REGION FROM VINE, PRODUCER WHERE VINE.PRODUCER =\
PRODUCER.PRODUCER_NAME AND PRODUCER.GEOGRAPHIC_REGION IN ( SELECT PRODUCER.GEOGRAPHIC_REGION FROM VINE, \
PRODUCER WHERE VINE.PRODUCER = PRODUCER.PRODUCER_NAME GROUP BY PRODUCER.GEOGRAPHIC_REGION HAVING COUNT(*) > 1 )"
 
rows = cursor.execute( SQL_string ).fetchall()

conn.close()



for row in rows:
    
    print( row )

(1001, 'Creek Shiraz', 2018, 'Southern Australia')
(1002, 'Zinfandel', 2015, 'California')
(1003, 'Pinot Noir', 2014, 'Southern Australia')
(1004, 'Pinot Noir', 2013, 'California')
(1006, 'Chardonney', 2016, 'California')

Maybe, you want to select all vines that come from PRODUCERs whose average vine is older than the average of vines in the database.

In [22]:
conn = sqlite3.connect( "C:\\Users\\rhopi\\OneDrive\\Desktop\\python dev\\database dev\\lesson_0002\\database.file" )

cursor = conn.cursor()

SQL_string = "SELECT VINE_ID, NAME, YEAR, VINE.PRODUCER, PRODUCER.GEOGRAPHIC_REGION FROM VINE, PRODUCER WHERE \
VINE.PRODUCER = PRODUCER.PRODUCER_NAME AND PRODUCER_NAME IN ( SELECT PRODUCER.PRODUCER_NAME FROM PRODUCER, VINE \
WHERE VINE.PRODUCER = PRODUCER.PRODUCER_NAME GROUP BY PRODUCER.PRODUCER_NAME HAVING AVG( CURRENT_DATE - VINE.YEAR )\
> ( SELECT AVG( CURRENT_DATE - YEAR ) FROM VINE ) )"
 
rows = cursor.execute( SQL_string ).fetchall()

conn.close()



for row in rows:
    
    print( row )

(1000, 'La Rose', 2013, 'Château La Rose', 'Bourdeaux')
(1002, 'Zinfandel', 2015, 'Helena', 'California')
(1004, 'Pinot Noir', 2013, 'Helena', 'California')

Let's find out, how many vines there a per GEOGRAPHIC_REGION.

In [23]:
conn = sqlite3.connect( "C:\\Users\\rhopi\\OneDrive\\Desktop\\python dev\\database dev\\lesson_0002\\database.file" )

cursor = conn.cursor()

SQL_string = "SELECT PRODUCER.GEOGRAPHIC_REGION, COUNT( VINE_ID ) FROM PRODUCER, VINE WHERE PRODUCER.PRODUCER_NAME = \
VINE.PRODUCER GROUP BY PRODUCER.GEOGRAPHIC_REGION"
 
rows = cursor.execute( SQL_string ).fetchall()

conn.close()



for row in rows:
    
    print( row )

('Bourdeaux', 1)
('California', 3)
('Hessen', 1)
('Southern Australia', 2)

So, this was our intro into SQLite3.<br>
Class dismissed.